body {
  background-color: #2B2A33;
  color: white;
  margin: 0;
}

.container,
.drawing-area {
  display: flex;
}

.header,
.pickers,
.menu,
.buttons {
  display: flex;
  flex-direction: column;
}

.pickers,
.menu,
.buttons {
  gap: 16px;
}

.wrapper,
.drawing-area,
.button {
  border: 1px solid black;
}

.header {
  justify-content: center;
  align-items: center;
  background-color: #2B2A46;
  border-bottom: 1px solid black;
}

.container {
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin: 32px 144px;
}

.wrapper {
  padding: 32px;
  background-color: #2B2A46;
  border-radius: 8px;
}

.menu {
  align-items: center;
}

.drawing-area {
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.pixel {
  user-select: none;
  user-drag: none;
  transition: 0.2s;
}

.button {
  background-color: #2B2A65;
  color: white;
  padding: 8px 80px;
  border-radius: 4px;
  transition: 0.4s;
}

.button:hover {
  background-color: #3B8A95;
}

.button-active {
  background-color: #2B3A99;
}

.header-heading {
  margin-bottom: 0;
}
